<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" media="screen" title="no title">
    <title>Shoe Finder</title>
  </head>
  <body>
<div class="container">
  <div class="header">
    <h1><a href="/">Shoe Finder</a></h1>
    <div class="well">
      <%= yield %>
    </div>
  </div>
</div>
  </body>
</html>
