.store-name {
  font-size: 1.3em;
  color: red;
}
.store-shoes {
  font-size: 1.3em;
}
.heading {
  font-size: 2em;
  font-weight: bold;
}
button {
  min-width: 75px;
}

.shoe-to-store {
  margin-top: 40px;
}
